<h1>Editing clon tuit</h1>

<%= render "form", clon_tuit: @clon_tuit %>

<br>

<div>
  <%= link_to "Show this clon tuit", @clon_tuit %> |
  <%= link_to "Back to clon tuits", clon_tuits_path %>
</div>
